@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
    background-color: rgb(239, 238, 238);
 }
 
 .mui-1e9ub9u-MuiButtonBase-root-MuiButton-root:hover{
   background-color: rgb(138, 122, 122) !important;
 }

 .checkout:hover{
  background: #ffffff !important;
  color: maroon !important;
 }